.container {
    width: 10%;
    height: 100vh;
    background-color: #535467;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 400;
    color: #55D681;
    letter-spacing: 0.3;
    font-size: 1.6rem;
    margin: 25% 0;
}

.navigation {
    color: #D3D3D3;
    font-weight: 200;
}

.navigation li {
    margin: 7% 0;
    transition: all 200ms;
}

.navigation li:hover {
    color: #55D681;
}