.label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 14px;
}
/* .empty .input:not(:focus) + label {
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
} */
.input:not(:focus) + label {
    color: rgba(70, 70, 70, 1);
}
